<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- in-house CSS --}}
  <link rel="stylesheet" href="/css/main.css" />
  {{!-- jQuery --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- in-house JS --}}
  <script src="/js/index.js"></script>
  <title>Web Scraper</title>
</head>

<body>
  <nav>
    <div id="navlinks">
      <a href="/">HOME</a>
      <a href="/saved">SAVED</a>
    </div>
  </nav>
  {{{ body }}}
</body>

</html>