<h1>This is the home page</h1>
<button id="scraper">Scrape!</button>
<button id="toggleDisplay" data-state="shown">Hide</button>

{{!-- Generate the list of scraped items if the items exist --}}

{{#if result}}
<div class="container">
  {{#each result}}
  <div class="content-wrapper">
    <div class="title">
      <h3>
        <a href="{{ url }}" target="_blank">{{ title }}</a>
      </h3>
    </div>
    <div class="brief">
      <p>{{ brief }}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}